@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}
h1,a {
    font-size: 50px;
    font-family: "Futura";
}
h2 {
    font-size: medium;
    color: red;
}
*{
    margin: 0;
    padding: 0;
    box-lines: border-box;
    font-size: 14px;
    color: #0c0c0c;

}
body {
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-wrap {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    position: center;
    margin-top: 30px;
}
input {
    position: relative;
    width: 570px;
    height: 45px;
    padding-inline-start: 52px;
    font-size: 1.2rem;
    border-radius: 45px;
    border: 1px solid #323232;
}
input:hover{
    background-color: 0 1px 3px 1px rgb(57, 57, 57);
}
input:focus {
    outline: none;
}
.search {
    width: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
}
p {
    color: #333333;
    padding-left: 13px;
}

button{
    border: 1px solid transparent;
    color: #333333;
    padding: 8px 12px;
    /* background-color:rgb(48, 49, 52); */
    border-radius: 5px;
    width: 250px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button:hover {
    border: 1px solid #0c0c0c;
    box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
    cursor: pointer;
}

.response {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    gap: 2px;
}
.blue{
    color: #4285f4;
}
.red{
    color: #db4437;
}

.yellow {
    color: #f4b400;
}
.green {
    color: #0f9D58;
}